/* ----------------------------------------- */
h1 {
   font-size: 30px;
   text-align: left;
}
/* ----------------------------------------- */
article {
    width: 390px;
    padding: 20px;
    margin: 20px;
    border: #FF5A5F 1px solid; 
    border-radius: 4px;
    /* display: inline-block; */
    float: left;
    display: block;
    z-index: -1;
    ;
}
article h2 {
    font-size: 30px;
    text-align: center;
}
/* ----------------------------------------- */

/* ----------------------------------------- */


