/* ----------------------------------------- */
.places h1 {
   font-size: 30px;
   text-align: left;
   vertical-align: top;
   margin-top: 20px;
}
/* ----------------------------------------- */
article {
    width: 390px;
    padding: 20px;
    margin: 20px;
    border: #FF5A5F 1px solid; 
    border-radius: 4px;
    float: left;
    display: block;
    text-align: center;
}
article h2 {
    font-size: 30px;
    text-align: center;
    display: inline;
    margin: 0px;
}
/* ----------------------------------------- */
.price_by_night {
    line-height: 60px;
    display: inline-flex;
    font-size: 30px;
    color: #FF5A5F;
    border: #FF5A5F 4px solid;
    border-radius: 50%;
    height: 60px;
    min-width: 60px;
    margin: -10px 0px 10px 0px;
    float: right;
}
/* ----------------------------------------- */
.information {
    height: 68px;
    width: 390px;
    border-top: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
    text-align: center;
    padding: 5px 0px 5px 0px;
    display: block;
    clear: both;
}
.information p {
    margin: 0px;
    padding: 50px 0px 0px 0px;
    display: block;
    text-align: center;
}
.information .max_guest {
    width: 100px;
    height: 100%;
    background-image: url("../images/icon_group.png");
    background-repeat: no-repeat;
    background-position-x: center;
    display: inline-block;
}
.information .number_rooms {
    width: 100px;
    height: 100%;
    background-image: url("../images/icon_bed.png");
    background-repeat: no-repeat;
    background-position-x: center;
    display: inline-block;
}
.information .number_bathrooms {
    width: 100px;
    height: 100%;
    background-image: url("../images/icon_bath.png");
    background-repeat: no-repeat;
    background-position-x: center;
    display: inline-block;
}
/* ----------------------------------------- */
.user {
    margin: 10px 0px;
    text-align: left;
}
/* ----------------------------------------- */
.description {
    margin: 10px 0px;
    text-align: left;
}